<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Leo's Math Practice</title>
    <style>
        main {
            text-align: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding: 10px;
        }
        .grid-item {
            font-size: 20px;
            padding: 20px;
        }
        input {
            font-size: 20px;
        }
    </style>
    <script>
        function calc(question) {
            return Function(`'use strict'; return (${question})`)();
        }

        function check() {
            for (answerElement of document.getElementsByName("answer")) {
                var question = answerElement.id;
                question = question.substring("question".length, question.indexOf("=")).replace("x", "*").replace("÷", "/");
                var answer = answerElement.value;
                if (calc(question) != answer) {
                    answerElement.style.border="2px solid red";
                    answerElement.style.backgroundColor="yellow";
                } else {
                    answerElement.style.backgroundColor="lightseagreen";
                }
            }
        }
    </script>
</head>
<body>
<main>
    <div class="grid-container">
        <div class="grid-item" th:each="question: ${questions}">
            <label th:for="|question${question}|" th:text="${question}"></label>
            <input th:id="|question${question}|" type="number" name="answer">
        </div>
    </div>
    <input type="button" value="Check检查" onclick="check();">
</main>
</body>
</html>