<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Leo's Math Practice</title>
    <style>
        main {
            text-align: center;
            font-size: 20px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding: 10px;
        }
        .grid-item {
            padding: 20px;
        }
        input {
            font-size: 20px;
        }
    </style>
    <script>
        function calc(question) {
            return Function(`'use strict'; return (${question})`)();
        }

        function check() {
            var answerElements = document.getElementsByName("answer");
            var count = answerElements.length;
            var correctCount = 0;
            for (answerElement of answerElements) {
                var question = answerElement.id;
                question = question.substring("question".length, question.indexOf("=")).replace("x", "*").replace("÷", "/");
                var answer = answerElement.value;
                if (calc(question) != answer) {
                    answerElement.style.border = "2px solid red";
                    answerElement.style.backgroundColor = "yellow";
                } else {
                    answerElement.style.backgroundColor = "lightseagreen";
                    correctCount = correctCount + 1;
                }
            }

            var scoreLabel = document.getElementById("score");
            scoreLabel.innerHTML = correctCount/count * 100;
            scoreLabel.style.color = "red";
            if (correctCount == count) {
                alert("You get all answers correct! You Are Awesome!");
            }
        }
    </script>
</head>
<body>
<main>
    <div class="grid-container">
        <div class="grid-item" th:each="question: ${questions}">
            <label th:for="|question${question}|" th:text="${question}"></label>
            <input th:id="|question${question}|" type="number" name="answer">
        </div>
    </div>
    <input type="button" value="Check检查" onclick="check();">
    <label id="score" style="margin-left: 20px"></label>
</main>
</body>
</html>